[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tpot = "*"
numpy = "*"
pandas = "*"
wagtail = "*"
wagtail-generic-chooser = "*"
devpi-server = "*"
devpi-client = "*"
petl = "*"
python-magic = "*"

[dev-packages]

[requires]
python_version = "3.9"
