<style>
  .container{
    padding: 0 25px 25px 25px;
  }
  .header{
    background: #007D7E;
    color: white;
    padding: 25px;
  }
  .sub-header{
    color: #007D7E;
    font-weight: bold;
  }
</style>


{% extends "modeladmin/index.html" %}

{% block content %}

<div class="">
  <h2 class="header">Scoring metric: {{ instance.model_scoring_metric }}</h2>
  <div class="container">
  {% if instance.train_results %}
    {% for feature_name, feature_results in instance.train_results.items %}
      <p>Results for feature {{ feature_name }}:</p>
      <p>Accuracy score: {{ feature_results.score }}</p>
      <p>Train time: {{ feature_results.train_time }}</p>
      <p>Final Pipeline: {{ feature_results.formatted_pipeline }}</p>
    {% endfor %}
  {% endif %}

  <h2>Descriptive statistics: </h2>
  {% for col, col_stats in instance.column_statistics.items %}
    <h3 class="sub-header">Stats for column {{ col }}</h3>
      {% for stat_name, stat in col_stats.items %}
      <p>{{ stat_name }}: {{ stat }}</p>
    {% endfor %}
    <br>
  {% endfor %}
</div>
</div>
{% endblock content %}